@font-face{
    font-family: Century Gothic;
    src : url('/assets/fonts/07558_CenturyGothic.ttf')
}
/* menu navar*/
button:focus{
    outline: none;
}
ion-toolbar{
    --background: #EBEBEB;
}
ion-card{
    --background: #ffffff;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
}
.cuadrado_rojo_cabeza{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FF0000;
    position: absolute;
    right: 13px;
    bottom: 4px;
}
.number_nav{
    font-size: 10px;
    margin-top: 2px;
    color: #fff;
}
.icon_tamaño{
    font-size: 20px;
    
}
#icono_left{
    padding-right: 10px;
}
#img_top{
    margin-top: 4px;
}
.img_redonda_header{
    --border-radius: 50%;
}

/* fon del menu*/
.padding_todos{
    padding-left: 20px;
    padding-right: 20px;
}
.titutlo_subtitulo{
    color: #898989;
    font-family: Century Gothic;
    font-weight: 900;
    font-size: 20px;
}
.btn_card{
    background-color: #ffffff;
    padding-top: 8px;
    width: 100%;
}
.display_center_img{
    display: inline-block;
    width: 50%;
}
@media(min-width: 568px){
    .display_center_img{
        width: 40%;
    }
}
.margin_top_card{
    margin-top: 0px;
    padding-top: 12px;
}
ion-thumbnail{
    width: 100%;
}