<ion-content>
  <img src="assets/img/Grupo_717.svg" id="img_logo">
  <ion-grid class="ion-no-padding">
    <ion-row class="padding_todos ion-justify-content-center">
      <ion-col size="12" class="ion-text-center ion-margin-bottom" id="margin_top_col">
        <h1 id="titulo_registro"><small>Formulario de registro</small></h1>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <ion-item>
          <ion-icon name="contact" mode="ios"></ion-icon>
          <ion-input placeholder="Nombre completo" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <ion-item>
          <ion-icon name="tablet-portrait"></ion-icon>
          <ion-input placeholder="Numero de celular" type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-icon name="mail" mode="ios"></ion-icon>
          <ion-input placeholder="Correo electrónico" type="email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <ion-item>
          <ion-icon name="lock" mode="ios"></ion-icon>
          <ion-input placeholder="Crea tu contraseña" type="password"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <ion-item>
          <ion-icon name="lock" mode="ios"></ion-icon>
          <ion-input placeholder="Confirmación de contraseña" type="password"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-text-center" id="terminos_center">
        <ion-checkbox mode="md"></ion-checkbox>
        <ion-label>Acepto los términos y condiiciones</ion-label>
      </ion-col>
      <ion-col size="8">
        <button class="btn_resgistrar">CONECTAR</button>
      </ion-col>
      <ion-col size="2">
        <button class="btn_resgistrar">g</button>
      </ion-col>
      <ion-col size="2">
        <button class="btn_resgistrar">f</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>