<ion-header>
  <ion-toolbar>
    <ion-card style="display: flex;">
      <ion-icon name="menu" class="icon_tamaño" (click)="open_menu ()"></ion-icon>
      <ion-input placeholder="Buscar contenido" style="--padding-start: 20px; --padding-end: 20px;--color: #A7A7A7"></ion-input>
      <ion-icon name="search" class="icon_tamaño" id="icono_left"></ion-icon>
      <ion-thumbnail class="img_redonda_header">
        <img src="assets/img/651985f94076db6b2a477cf5b69d8a47.png" id="img_top">
      </ion-thumbnail>
      <div class="cuadrado_rojo_cabeza">
        <p class="number_nav ion-text-center">1</p>
      </div>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="padding_todos ion-justify-content-center">
      <ion-col size="12" class="ion-text-center" id="padding_col_titulo">
        <img src="assets/img/a8ff65e7de21d4a66fa3d02c0b55ed9a.png">
        <h1 class="titutlo_subtitulo">Solicitud de nuevo negocio</h1>
        <p id="subtitulo_pequeño">Best indexed</p>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <ion-input placeholder="Enter Input" autocomplete="on" type="text" class="colo_00 input_select" mode="ios"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-select placeholder="Select One" class="colo_00 input_select" mode="ios">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>        
          </ion-col>
          <ion-col size="6">
            <ion-input placeholder="Enter Input" autocomplete="on" type="number" class="colo_00 input_select" mode="ios"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-input placeholder="Enter Input" autocomplete="on" type="number" class="colo_00 input_select" mode="ios"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input placeholder="Enter Input" autocomplete="on" type="text" class="colo_00 input_select" mode="ios"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-select placeholder="Select One" class="colo_00 input_select" mode="ios">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>        
          </ion-col>
          <ion-col size="12">
            <ion-select placeholder="Select One" class="colo_00 input_select" mode="ios">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>        
          </ion-col>
          <ion-col size="12">
            <ion-select placeholder="Select One" class="colo_00 input_select" mode="ios">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>        
          </ion-col>
          <ion-col size="5" size-sm="4" size-md="3" size-lg="2" class="ion-margin-top ion-margin-bottom">
            <button class="btn_formulario ion-margin-top">Adelante ></button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row> 
  </ion-grid>  
</ion-content>
