<ion-header>
  <ion-toolbar>
    <ion-card style="display: flex;">
      <ion-icon name="menu" class="icon_tamaño" (click)="open_menu ()"></ion-icon>
      <ion-input placeholder="Buscar contenido" style="--padding-start: 20px; --padding-end: 20px;--color: #A7A7A7"></ion-input>
      <ion-icon name="search" class="icon_tamaño" id="icono_left"></ion-icon>
      <ion-thumbnail class="img_redonda_header">
        <img src="assets/img/651985f94076db6b2a477cf5b69d8a47.png" id="img_top">
      </ion-thumbnail>
      <div class="cuadrado_rojo_cabeza">
        <p class="number_nav ion-text-center">1</p>
      </div>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-no-padding">
  <ion-row class="padding_todos">
    <ion-col size="12" class="ion-text-center ion-margin-bottom">
      <h1 class="titutlo_subtitulo">Seguro de vida</h1>
      <h2 class="titutlo_subtitulo">Con que empresa</h2>
    </ion-col>
    <ion-col size="12" size-sm="6">
     <ion-card class="ion-text-center ion-no-margin margin_top_card">
         <img src="assets/img/ac49d146a3e04a23f3b68cc20746de8b.png" class="display_center_img">
     </ion-card>
    </ion-col>
    <ion-col size="12"  size-sm="6">
      <ion-card class="ion-text-center ion-no-margin margin_top_card">
          <img src="assets/img/ac49d146a3e04a23f3b68cc20746de8b.png" class="display_center_img">
      </ion-card>
     </ion-col>
     <ion-col size="12"  size-sm="6">
      <ion-card class="ion-text-center ion-no-margin margin_top_card">
          <img src="assets/img/ac49d146a3e04a23f3b68cc20746de8b.png" class="display_center_img">
      </ion-card>
     </ion-col>
     <ion-col size="12"  size-sm="6">
      <ion-card class="ion-text-center ion-no-margin margin_top_card">
          <img src="assets/img/ac49d146a3e04a23f3b68cc20746de8b.png" class="display_center_img">
      </ion-card>
     </ion-col>
     <ion-col size="12">
      <ion-card class="ion-text-center ion-no-margin margin_top_card">
          <img src="assets/img/ac49d146a3e04a23f3b68cc20746de8b.png" class="display_center_img">
      </ion-card>
     </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
