<ion-header>
  <ion-toolbar>
    <ion-card style="display: flex;">
      <ion-icon name="menu" class="icon_tamaño" (click)="open_menu ()"></ion-icon>
      <ion-input placeholder="Buscar contenido" style="--padding-start: 20px; --padding-end: 20px;--color: #A7A7A7"></ion-input>
      <ion-icon name="search" class="icon_tamaño" id="icono_left"></ion-icon>
      <ion-thumbnail class="img_redonda_header">
        <img src="assets/img/651985f94076db6b2a477cf5b69d8a47.png" id="img_top">
      </ion-thumbnail>
      <div class="cuadrado_rojo_cabeza">
        <p class="number_nav ion-text-center">1</p>
      </div>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="padding_todos" style="margin-bottom: 20px;">
      <ion-col size="12" style="margin-bottom: 20px;">
        <h1 class="color_89 ion-text-center bolder_titulos">Vetas y comisiones</h1>
      </ion-col>
      <ion-col size="12">
          <ion-select placeholder="Red Asset" mode="ios" style="padding-right: 20px;">
            <ion-select-option value="1">Option 1</ion-select-option>
            <ion-select-option value="2">Option 2</ion-select-option>
            <ion-select-option value="2">Option 3</ion-select-option>
          </ion-select>
      </ion-col>
      <ion-col size="12">
        <p class="color_89 font_bol" style="margin-top: 1px;margin-bottom: 0px;">48 Agentes</p>
      </ion-col>
        <ion-col size="12">
          <p class="color_89 font_bol" style="margin-top: 5px;margin-bottom: 5px;">13.12.2019</p>
          <ion-list mode="ios" class="ion-no-margin">
            <ion-row>
              <ion-col size="12" size-md="6" size-xl="4" class="padding_col_list ion-margin-bottom">
                <ion-item style="padding: 0px;">
                  <div class="icon_derecha"></div>
                  <ion-label>
                    <p class="margin_bottom_p titulo_negro_list">Micael James Jimenez Rodriguez</p>
                    <p class="subtitulo_plomo_list">Seguro de vida - Mulinational insurance life</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-md="6" size-xl="4" class="padding_col_list ion-margin-bottom">
                <ion-item style="padding: 0px;">
                  <div class="icon_derecha"></div>
                  <ion-label>
                    <p class="margin_bottom_p titulo_negro_list">Micael James Jimenez Rodriguez</p>
                    <p class="subtitulo_plomo_list">Seguro de vida - Mulinational insurance life</p>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
        <ion-col size="12">
            <p class="color_89 font_bol" style="margin-top: 5px;margin-bottom: 5px;">13.12.2019</p>
            <ion-list mode="ios" class="ion-no-margin">
              <ion-row>
                <ion-col size="12" size-md="6" size-xl="4" class="padding_col_list ion-margin-bottom">
                  <ion-item style="padding: 0px;">
                    <div class="icon_derecha"></div>
                    <ion-label>
                      <p class="margin_bottom_p titulo_negro_list">Micael James Jimenez Rodriguez</p>
                      <p class="subtitulo_plomo_list">Seguro de vida - Mulinational insurance life</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md="6" size-xl="4" class="padding_col_list ion-margin-bottom">
                  <ion-item style="padding: 0px;">
                    <div class="icon_derecha"></div>
                    <ion-label>
                      <p class="margin_bottom_p titulo_negro_list">Micael James Jimenez Rodriguez</p>
                      <p class="subtitulo_plomo_list">Seguro de vida - Mulinational insurance life</p>
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>
        </ion-col>
        <ion-col size="12">
          <p class="color_89 font_bol" style="margin-top: 5px;margin-bottom: 5px;">13.12.2019</p>
          <ion-list mode="ios" class="ion-no-margin">
            <ion-row>
              <ion-col size="12" size-md="6" size-xl="4" class="padding_col_list ion-margin-bottom">
                <ion-item style="padding: 0px;">
                  <div class="icon_derecha"></div>
                  <ion-label>
                    <p class="margin_bottom_p titulo_negro_list">Micael James Jimenez Rodriguez</p>
                    <p class="subtitulo_plomo_list">Seguro de vida - Mulinational insurance life</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-md="6" size-xl="4" class="padding_col_list ion-margin-bottom">
                <ion-item style="padding: 0px;">
                  <div class="icon_derecha"></div>
                  <ion-label>
                    <p class="margin_bottom_p titulo_negro_list">Micael James Jimenez Rodriguez</p>
                    <p class="subtitulo_plomo_list">Seguro de vida - Mulinational insurance life</p>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
