div{
    background-image: url('/assets/img/ian-wagg-Y6_i7U4Dyu8-unsplash.png') !important;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    padding-top: 20px;
}
#img_responsi{
    width: 70%;
}