<ion-content>
  <img src="assets/img/Grupo_717.svg" id="img_logo">
  <ion-grid class="ion-no-padding">
    <ion-row class="padding_todos ion-justify-content-center">
      <ion-col size="12" class="ion-text-center ion-margin-bottom" id="margin_top_col">
        <h1 id="titulo_registro"><small>Los mejores profesionales para ti</small></h1>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-icon name="mail" mode="ios"></ion-icon>
          <ion-input placeholder="Correo electrónico" type="email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-icon name="lock" mode="ios"></ion-icon>
          <ion-input placeholder="Crea tu contraseña" type="password"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-text-center" id="terminos_center">
        <p class="color_font">Olvidaste tu contraseña?<span id="font_bolder"> Recuperalo aqui ></span></p>
      </ion-col>
      <ion-col size="8">
        <button class="btn_resgistrar">CONECTAR</button>
      </ion-col>
      <ion-col size="2">
        <button class="btn_resgistrar">g</button>
      </ion-col>
      <ion-col size="2">
        <button class="btn_resgistrar">f</button>
      </ion-col>
      <ion-col size="12">
        <div id="div_linea"></div>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <p class="color_font">¿No tienes una cuenta?<span id="font_bolder"> Regístrate ahora</span></p>
        <p class="color_font">¿Porque tengo que registrarme?</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>