@font-face{
    font-family: Century Gothic;
    src : url('/assets/fonts/07558_CenturyGothic.ttf')
}
@font-face{
    font-family: RelawaymediunItalic;
    src : url('/assets/fonts/Raleway-MediumItalic.ttf')
}
@font-face{
    font-family: Avenirbook;
    src : url('/assets/fonts/AvenirLTStd-Book.otf')
}
@font-face{
    font-family: Avenirblack;
    src : url('/assets/fonts/Avenir-Black.otf')
}
ion-content{
    --background: #6BB8C6;
    text-align: center;
    --padding-top:30px;
    --padding-bottom:30px;
}
@media(min-width: 768px) and (min-height: 1024px){
    ion-content{
        --padding-bottom: 30px;
    --padding-top: 200px;
    --padding-start: 100px;
    --padding-end: 100px;
    }
}
@media(min-width: 812px){
    ion-content{
        --padding-bottom: 30px;
    --padding-top: 50px;
    --padding-start: 200px;
    --padding-end: 200px;
    }
}
@media(min-width: 1024px) and (min-height: 768px){
    ion-content{
        --padding-bottom: 30px;
    --padding-top: 100px;
    --padding-start: 100px;
    --padding-end: 100px;
    }
}
@media(min-width: 1024px) and (min-height: 1366px){
    #img_logo{
        width: 50%;
    }
    ion-content{
        --padding-top: 290px;
        --padding-bottom: 160px;
        --padding-start: 300px;
        --padding-end: 300px;
    }
}
@media(min-width: 1366px){
    #img_logo{
        width: 30%;
    }
    ion-content{
        --padding-top: 185px;
        --padding-bottom: 160px;
        --padding-start: 400px;
        --padding-end: 400px;
    }
}
.padding_todos{
    padding-left: 20px;
    padding-right: 20px;
}
ion-item{
    --background: #ffffff1a;
    border-radius: 5px;
}
button:focus{
    outline: none;
}
ion-item:focus{
    --highlight-background: #ffffff1a; 
}
ion-input{
    --placeholder-color: #ffffff;
    font-family: Avenirbook;
    --color:#ffffff;
    font-size: 15px;
}
ion-icon{
    color: #ffffff;
    margin-right: 20px;
}
ion-label{
    font-family: Century Gothic;
    color: #ffffff;
    font-size: 13px;
}
ion-checkbox{
    --border-color: #ffffff;
    --background:#ffffff1a;
    --background-checked: #ffffff1a;
    --border-color-checked:#ffffff;
    margin-right: 20px;
}
.btn_resgistrar{
    background-color: #FFFFFF;
    box-shadow: #3F484552 0px 5px 5px;
    width: 100%;
    color: #6BB8C6;
    font-family: Avenirblack;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}
#terminos_center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
#margin_top_col{
    margin-top: 40px;
}
@media(min-width: 375px) and (min-height: 812px){
    #margin_top_col{
        margin-top: 90px;
    }
}
@media(min-width: 411px) and (min-height: 823px){
    #margin_top_col{
        margin-top: 90px;
    }
}
@media(min-width: 768px) and (min-height: 1024px){
    #margin_top_col{
        margin-top: 20px;
    }
    #terminos_center{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
@media(min-width: 823px){
    #margin_top_col{
        margin-top: 18px;
    }
    #terminos_center{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media(min-width: 1024px) and (min-height: 768px){
    #margin_top_col{
        margin-top: 20px;
    }
    #terminos_center{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
@media(min-width: 1024px) and (min-height: 1366px){
    #margin_top_col{
        margin-top: 35px;
    }
    #terminos_center{
        margin-top: 30px;
        margin-bottom: 44px;
    }
}
@media(min-width: 1366px) and (min-height: 1024px){
    #margin_top_col{
        margin-top: 40px;
    }
    #terminos_center{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
/*login*/
#titulo_registro{
    color: #ffffff;
    font-family: RelawaymediunItalic;
    font-size: 20px;
}
.color_font{
    color: #ffffff;
    font-family: Avenirbook;
    font-size: 13px;
}
@media(min-width: 360px){
    .color_font{
        font-size: 14px;
    }
    #titulo_registro{
        font-size: 24px;
    }
}
#font_bolder{
    font-weight: 900;
}
#div_linea{
    background-color: #ffffff1a;
    width: 50%;
    height: 7px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
}
@media(min-width: 1024px) and (min-height: 1366px){
    #div_linea{
        margin-top: 70px;
        margin-bottom: 70px;
    }
}
