<ion-header>
  <ion-toolbar>
    <ion-card style="display: flex;">
      <ion-icon name="menu" class="icon_tamaño" (click)="open_menu ()"></ion-icon>
      <ion-input placeholder="Buscar contenido" style="--padding-start: 20px; --padding-end: 20px;--color: #A7A7A7"></ion-input>
      <ion-icon name="search" class="icon_tamaño" id="icono_left"></ion-icon>
      <ion-thumbnail class="img_redonda_header">
        <img src="assets/img/651985f94076db6b2a477cf5b69d8a47.png" id="img_top">
      </ion-thumbnail>
      <div class="cuadrado_rojo_cabeza">
        <p class="number_nav ion-text-center">1</p>
      </div>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="padding_todos ion-justify-content-center">
      <ion-col size="12" class="ion-text-center" id="padding_col_titulo">
        <button id="btn_derecha">
          <ion-icon name="arrow-back" mode="ios" id="icono_derecha"></ion-icon>
        </button>
        <h1 class="titutlo_subtitulo">Ponte nueva meta</h1>
      </ion-col>
      <ion-col size="12" style="display: flex;">
        <div class="div_azul" id="padding_derecha"></div>
        <p id="letra_azul">Personales</p>
        <div class="div_azul" id="padding_izquierda"></div>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <ion-input placeholder="Enter Input" autocomplete="on" type="text" class="colo_00 input_select" mode="ios"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-select placeholder="Select One" class="colo_00 input_select" mode="ios">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>        
          </ion-col>
          <ion-col size="6">
            <ion-select placeholder="Select One" class="colo_00 input_select" mode="ios">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select> 
          </ion-col>
          <ion-col size="6">
            <ion-input placeholder="Enter Input" autocomplete="on" type="number" class="colo_00 input_select" mode="ios"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-select placeholder="Select One" class="colo_00 input_select" mode="ios">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>        
          </ion-col>
          <ion-col size="12">
            <ion-select placeholder="Select One" class="colo_00 input_select" mode="ios">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>        
          </ion-col>
          <ion-col size="12" class="ion-margin-bottom">
            <p id="escoge_size">Escoge color</p>
            <div id="div_colores">
              <div class="altura_iguales" id="color_1"></div>
              <div class="altura_iguales" id="color_2"></div>
              <div class="altura_iguales" id="color_3"></div>
              <div class="altura_iguales" id="color_4"></div>
              <div class="altura_iguales" id="color_5"></div>
              <div class="altura_iguales" id="color_6"></div>
              <div class="altura_iguales" id="color_7"></div>
              <div class="altura_iguales" id="color_8"></div>
              <div class="altura_iguales" id="color_9"></div>
            </div>
          </ion-col>
          <ion-col size="6" size-sm="4" size-md="3" size-lg="2" class="ion-margin-top ion-margin-bottom">
            <button class="btn_formulario ion-margin-top">Crear Evento</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row> 
  </ion-grid>  
</ion-content>
