<ion-content>
  <img src="assets/img/ap_ logow.png" id="img_logo">
    <h1 id="titulo_bolder" class="colo_blank">Ventaja 2</h1>
    <p id="texto_bolder" class="colo_blank">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis</p>
    <div style="display: flex;">
      <button class="btn_celste_tranparent" style="justify-content: flex-start;">
        <ion-icon name="arrow-back" mode="ios" class="icono_btn"></ion-icon>
        Atras
      </button>
      <button class="btn_celste_tranparent" style="justify-content: flex-end;">
        Adelante
        <ion-icon name="arrow-forward" mode="ios" class="icono_btn"></ion-icon>
      </button>
    </div>
</ion-content>