<ion-header>
  <ion-toolbar>
    <ion-card style="display: flex;">
      <ion-icon name="menu" class="icon_tamaño" (click)="open_menu ()"></ion-icon>
      <ion-input placeholder="Buscar contenido" style="--padding-start: 20px; --padding-end: 20px;--color: #A7A7A7"></ion-input>
      <ion-icon name="search" class="icon_tamaño" id="icono_left"></ion-icon>
      <ion-thumbnail class="img_redonda_header">
        <img src="assets/img/651985f94076db6b2a477cf5b69d8a47.png" id="img_top">
      </ion-thumbnail>
      <div class="cuadrado_rojo_cabeza">
        <p class="number_nav ion-text-center">1</p>
      </div>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="padding_todos ion-justify-content-center">
      <ion-col size="12" class="ion-text-center ion-padding-top ion-padding-bottom">
        <h1 class="titutlo_subtitulo">Mis clientes</h1>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-thumbnail class="perfil">
          <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
        </ion-thumbnail>
        <p id="titulo">Micael James Jimenez Rodriguez</p>
        <p class="number_gerente_size">06.04.1988 (31 años)</p>
        <div id="linea_ploma"></div>
        <p class="number_gerente_size">Gerente general, Coca - loca</p>
      </ion-col>
    </ion-row>
    <ion-row id="fondo_row" class="ion-margin-top">
      <ion-col size="5" size-sm="6" class="ion-text-end color_letra ion-padding-lg-end">
        <p>Correo</p>
        <p>Teléfono</p>
        <p>Nacionalidad</p>
        <p>Dirección</p>
      </ion-col>
      <ion-col size="7" size-sm="6" class="color_letra">
        <p>Micael@gmail.com</p>
        <p>+51 998 876 135</p>
        <p>Peruano</p>
        <p>Calle de la luna 1234, Urb magisterial, Cusco Peru.</p>
      </ion-col>
    </ion-row>
    <ion-row class="padding_todos">
      <ion-col size="12" class="ion-text-center ion-padding-top ion-padding-bottom">
        <h1 class="titutlo_subtitulo">Historial de ventas y comisiones</h1>
      </ion-col>
      <ion-col size="12">
        <p class="color_89 font_bol" style="margin-top: 5px;margin-bottom: 5px;">13.12.2019</p>
        <ion-list mode="ios" class="ion-no-margin">
          <ion-row>
            <ion-col size="12" size-md="6" size-xl="4" class="padding_col_list ion-margin-bottom">
              <ion-item style="padding: 0px;">
                <div class="icon_derecha"></div>
                <ion-label>
                  <p class="margin_bottom_p titulo_negro_list">Micael James Jimenez Rodriguez</p>
                  <p class="subtitulo_plomo_list">Seguro de vida - Mulinational insurance life</p>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-xl="4" class="padding_col_list ion-margin-bottom">
              <ion-item style="padding: 0px;">
                <div class="icon_derecha"></div>
                <ion-label>
                  <p class="margin_bottom_p titulo_negro_list">Micael James Jimenez Rodriguez</p>
                  <p class="subtitulo_plomo_list">Seguro de vida - Mulinational insurance life</p>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
