<ion-header>
  <ion-toolbar>
    <ion-card style="display: flex;">
      <ion-icon name="menu" class="icon_tamaño" (click)="open_menu ()"></ion-icon>
      <ion-input placeholder="Buscar contenido" style="--padding-start: 20px; --padding-end: 20px;--color: #A7A7A7"></ion-input>
      <ion-icon name="search" class="icon_tamaño" id="icono_left"></ion-icon>
      <ion-thumbnail class="img_redonda_header">
        <img src="assets/img/651985f94076db6b2a477cf5b69d8a47.png" id="img_top">
      </ion-thumbnail>
      <div class="cuadrado_rojo_cabeza">
        <p class="number_nav ion-text-center">1</p>
      </div>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-bottom">
  <ion-grid class="ion-no-padding">
    <ion-row class="padding_todos ion-justify-content-center">
      <ion-col size="12" class="ion-text-center ion-margin-top" id="padding_col_titulo">
        <h1 class="titutlo_subtitulo">Red asset</h1>
      </ion-col>
      <ion-col size="12" style="display: flex;justify-content: space-between;">
        <p class="color_48_orde_font">48 Agentes</p>
        <p class="color_48_orde_font" id="izquierda">Ordenar por ></p>
      </ion-col>
    </ion-row> 
    <ion-row id="padding_start_end">
      <ion-col size="12" size-sm="6" class="ion-no-padding ion-margin-bottom">
        <ion-row class="">
          <ion-col size="12" class="ion-padding-start padding_end" style="display: flex;">
            <div class="div_vertical_linea div_verde"></div>
            <ion-thumbnail class="absulte_left">
              <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
            </ion-thumbnail>
            <ion-card class="card_clientes">
              <div class="width_agrandar">
                <p class="titulo_card">Micael James Jimenez Rodriguez Rodriguez</p>
                <div class="div_flex_separados">
                  <p class="subtitulo_card">1 producto</p>
                  <p class="subtitulo_card">1 producto</p>
                </div>
              </div>
              <button class="btn_icono"></button>
            </ion-card>
          </ion-col>
          <ion-col size="12" class="padding_start padding_end_cero" style="display: flex;">
            <div class="div_vertical_linea div_verde"></div>
            <ion-thumbnail class="absulte_left_img">
              <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
            </ion-thumbnail>
            <ion-card class="card_clientes">
              <div class="width_agrandar">
                <p class="titulo_card">Micael James Jimenez Rodriguez Rodriguez</p>
                <div class="div_flex_separados">
                  <p class="subtitulo_card">1 producto</p>
                  <p class="subtitulo_card">1 producto</p>
                </div>
              </div>
            </ion-card>
          </ion-col>
          <ion-col size="12" class="padding_start_2 padding_end_cero" style="display: flex;">
            <div class="div_vertical_linea div_rojo"></div>
            <ion-thumbnail class="absulte_left_img_2">
              <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
            </ion-thumbnail>
            <ion-card class="card_clientes">
              <div class="width_agrandar">
                <p class="titulo_card">Micael James Jimenez Rodriguez Rodriguez</p>
                <div class="div_flex_separados">
                  <p class="subtitulo_card">1 producto</p>
                  <p class="subtitulo_card">1 producto</p>
                </div>
              </div>
            </ion-card>
          </ion-col>
          <ion-col size="12" class="padding_start padding_end_cero" style="display: flex;">
            <div class="div_vertical_linea div_rojo"></div>
            <ion-thumbnail class="absulte_left_img">
              <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
            </ion-thumbnail>
            <ion-card class="card_clientes">
              <div class="width_agrandar">
                <p class="titulo_card">Micael James Jimenez Rodriguez Rodriguez</p>
                <div class="div_flex_separados">
                  <p class="subtitulo_card">1 producto</p>
                  <p class="subtitulo_card">1 producto</p>
                </div>
              </div>
              <button class="btn_icono"></button>
            </ion-card>
          </ion-col>
          <ion-col size="12" class="padding_start padding_end_cero" style="display: flex;">
            <div class="div_vertical_linea div_verde"></div>
            <ion-thumbnail class="absulte_left_img">
              <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
            </ion-thumbnail>
            <ion-card class="card_clientes">
              <div class="width_agrandar">
                <p class="titulo_card">Micael James Jimenez Rodriguez Rodriguez</p>
                <div class="div_flex_separados">
                  <p class="subtitulo_card">1 producto</p>
                  <p class="subtitulo_card">1 producto</p>
                </div>
              </div>
              <button class="btn_icono"></button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" size-sm="6" class="ion-no-padding ion-margin-bottom">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-padding-start padding_end" style="display: flex;">
            <div class="div_vertical_linea div_verde"></div>
            <ion-thumbnail class="absulte_left">
              <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
            </ion-thumbnail>
            <ion-card class="card_clientes">
              <div class="width_agrandar">
                <p class="titulo_card">Micael James Jimenez Rodriguez Rodriguez</p>
                <div class="div_flex_separados">
                  <p class="subtitulo_card">1 producto</p>
                  <p class="subtitulo_card">1 producto</p>
                </div>
              </div>
              <button class="btn_icono"></button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" size-sm="6" class="ion-no-padding ion-margin-bottom">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-padding-start padding_end" style="display: flex;">
            <div class="div_vertical_linea div_rojo"></div>
            <ion-thumbnail class="absulte_left">
              <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
            </ion-thumbnail>
            <ion-card class="card_clientes">
              <div class="width_agrandar">
                <p class="titulo_card">Micael James Jimenez Rodriguez Rodriguez</p>
                <div class="div_flex_separados">
                  <p class="subtitulo_card">1 producto</p>
                  <p class="subtitulo_card">1 producto</p>
                </div>
              </div>
              <button class="btn_icono"></button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" size-sm="6" class="ion-no-padding ion-margin-bottom">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-padding-start padding_end" style="display: flex;">
            <div class="div_vertical_linea div_verde"></div>
            <ion-thumbnail class="absulte_left">
              <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
            </ion-thumbnail>
            <ion-card class="card_clientes">
              <div class="width_agrandar">
                <p class="titulo_card">Micael James Jimenez Rodriguez Rodriguez</p>
                <div class="div_flex_separados">
                  <p class="subtitulo_card">1 producto</p>
                  <p class="subtitulo_card">1 producto</p>
                </div>
              </div>
              <button class="btn_icono"></button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
