<ion-header>
  <ion-toolbar>
    <ion-card style="display: flex;">
      <ion-icon name="menu" class="icon_tamaño" (click)="open_menu ()"></ion-icon>
      <ion-input placeholder="Buscar contenido" style="--padding-start: 20px; --padding-end: 20px;--color: #A7A7A7"></ion-input>
      <ion-icon name="search" class="icon_tamaño" id="icono_left"></ion-icon>
      <ion-thumbnail class="img_redonda_header">
        <img src="assets/img/651985f94076db6b2a477cf5b69d8a47.png" id="img_top">
      </ion-thumbnail>
      <div class="cuadrado_rojo_cabeza">
        <p class="number_nav ion-text-center">1</p>
      </div>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="padding_todos ion-justify-content-center">
      <ion-col size="12" class="ion-text-center ion-padding-top ion-padding-bottom">
        <h1 class="titutlo_subtitulo">Mis clientes</h1>
        <button id="btn_add">
          <img src="assets/img/icono-add.png" width="100%">
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="padding_todos">
      <ion-col size="12" style="display: flex;">
        <div class="div_azul" id="padding_derecha"></div>
        <p id="letra_azul">Personales</p>
        <div class="div_azul" id="padding_izquierda"></div>
      </ion-col>
      <ion-col size="6" size-md="4" class="ion-text-center ion-margin-bottom">
        <ion-thumbnail class="circulo_img_estadistica">
          <img src="assets/img/circulo-estadisticos.jpg" width="100%">
        </ion-thumbnail>
        <p class="titulo_porcentaje">Congreso en Cancún</p>
        <p class="subtitulos_porcentaje">BNI bla bla</p>
        <p class="partes_porcentaje_size margin_no_bottom"><span>Meta: </span><span>14 personas</span></p>
        <p class="partes_porcentaje_size margin_no_top"><span>Quedan: </span><span>34 dias</span></p>
      </ion-col>
      <ion-col size="6" size-md="4" class="ion-text-center ion-margin-bottom">
        <ion-thumbnail class="circulo_img_estadistica">
          <img src="assets/img/circulo-estadisticos.jpg" width="100%">
        </ion-thumbnail>
        <p class="titulo_porcentaje">Congreso en Cancún</p>
        <p class="subtitulos_porcentaje">BNI bla bla</p>
        <p class="partes_porcentaje_size margin_no_bottom"><span>Meta: </span><span>14 personas</span></p>
        <p class="partes_porcentaje_size margin_no_top"><span>Quedan: </span><span>34 dias</span></p>
      </ion-col>
      <ion-col size="6" size-md="4" class="ion-text-center ion-margin-bottom">
        <ion-thumbnail class="circulo_img_estadistica">
          <img src="assets/img/circulo-estadisticos.jpg" width="100%">
        </ion-thumbnail>
        <p class="titulo_porcentaje">Congreso en Cancún</p>
        <p class="subtitulos_porcentaje">BNI bla bla</p>
        <p class="partes_porcentaje_size margin_no_bottom"><span>Meta: </span><span>14 personas</span></p>
        <p class="partes_porcentaje_size margin_no_top"><span>Quedan: </span><span>34 dias</span></p>
      </ion-col>
    </ion-row>
    <ion-row class="padding_todos">
      <ion-col size="12" style="display: flex;">
        <div class="div_azul" id="padding_derecha"></div>
        <p id="letra_azul" class="ion-text-center"> <small>Asignados a mi</small></p>
        <div class="div_azul" id="padding_izquierda"></div>
      </ion-col>
      <ion-col size="6" size-md="4" class="ion-text-center ion-margin-bottom">
        <p class="titulo_porcentaje">Congreso en Cancún</p>
        <p class="subtitulos_porcentaje">BNI bla bla</p>
        <ion-thumbnail class="circulo_img_estadistica">
          <img src="assets/img/circulo-estadisticos.jpg" width="100%">
        </ion-thumbnail>
        <p class="partes_porcentaje_size margin_no_bottom"><span>Quedan: </span><span>34 dias</span></p>
        <p class="partes_porcentaje_size margin_no_top"><span>Quedan: </span><span>34 dias</span></p>
      </ion-col>
      <ion-col size="6" size-md="4" class="ion-text-center ion-margin-bottom">
        <p class="titulo_porcentaje">Congreso en Cancún</p>
        <p class="subtitulos_porcentaje">BNI bla bla</p>
        <ion-thumbnail class="circulo_img_estadistica">
          <img src="assets/img/circulo-estadisticos.jpg" width="100%">
        </ion-thumbnail>
        <p class="partes_porcentaje_size margin_no_bottom"><span>Quedan: </span><span>34 dias</span></p>
        <p class="partes_porcentaje_size margin_no_top"><span>Quedan: </span><span>34 dias</span></p>
      </ion-col>
      <ion-col size="6" size-md="4" class="ion-text-center ion-margin-bottom">
        <p class="titulo_porcentaje">Congreso en Cancún</p>
        <p class="subtitulos_porcentaje">BNI bla bla</p>
        <ion-thumbnail class="circulo_img_estadistica">
          <img src="assets/img/circulo-estadisticos.jpg" width="100%">
        </ion-thumbnail>
        <p class="partes_porcentaje_size margin_no_bottom"><span>Quedan: </span><span>34 dias</span></p>
        <p class="partes_porcentaje_size margin_no_top"><span>Quedan: </span><span>34 dias</span></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
