<ion-header>
  <ion-toolbar>
    <ion-card style="display: flex;">
      <ion-icon name="menu" class="icon_tamaño" (click)="open_menu ()"></ion-icon>
      <ion-input placeholder="Buscar contenido" style="--padding-start: 20px; --padding-end: 20px;--color: #A7A7A7"></ion-input>
      <ion-icon name="search" class="icon_tamaño" id="icono_left"></ion-icon>
      <ion-thumbnail class="img_redonda_header">
        <img src="assets/img/651985f94076db6b2a477cf5b69d8a47.png" id="img_top">
      </ion-thumbnail>
      <div class="cuadrado_rojo_cabeza">
        <p class="number_nav ion-text-center">1</p>
      </div>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="padding_todos ion-justify-content-center">
      <ion-col size="12" class="ion-text-center ion-padding-top ion-padding-bottom">
        <h1 class="titutlo_subtitulo">Mis clientes</h1>
        <button id="btn_add">
          <img src="assets/img/icono-add.png" width="100%">
        </button>
      </ion-col>
      <ion-col size="12">
        <ion-select placeholder="Select One" class="colo_00 input_select" mode="ios">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>        
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom">
        <ion-select placeholder="Select One" class="colo_00 input_select" mode="ios">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>        
      </ion-col>
      <ion-col size="12" class="ion-no-padding ion-margin-bottom">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-sm="6" size-lg="4" style="display: flex;">
            <ion-thumbnail class="absulte_left">
              <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
            </ion-thumbnail>
            <ion-card class="card_clientes">
              <div>
                <p class="titulo_card">Micael James Jimenez Rodriguez</p>
                <p class="subtitulo_card">1 producto</p>
              </div>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4" style="display: flex;">
            <ion-thumbnail class="absulte_left">
              <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
            </ion-thumbnail>
            <ion-card class="card_clientes">
              <div>
                <p class="titulo_card">Micael James Jimenez Rodriguez</p>
                <p class="subtitulo_card">1 producto</p>
              </div>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4" style="display: flex;">
            <ion-thumbnail class="absulte_left">
              <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
            </ion-thumbnail>
            <ion-card class="card_clientes">
              <div>
                <p class="titulo_card">Micael James Jimenez Rodriguez</p>
                <p class="subtitulo_card">1 producto</p>
              </div>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4" style="display: flex;">
            <ion-thumbnail class="absulte_left">
              <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
            </ion-thumbnail>
            <ion-card class="card_clientes">
              <div>
                <p class="titulo_card">Micael James Jimenez Rodriguez</p>
                <p class="subtitulo_card">1 producto</p>
              </div>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4" style="display: flex;">
            <ion-thumbnail class="absulte_left">
              <img src="assets/img/caaeefc071159c0d579cc1d1d823e239@2x.png">
            </ion-thumbnail>
            <ion-card class="card_clientes">
              <div>
                <p class="titulo_card">Micael James Jimenez Rodriguez</p>
                <p class="subtitulo_card">1 producto</p>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row> 
  </ion-grid>  
</ion-content>

