@font-face{
    font-family: Century Gothic;
    src : url('/assets/fonts/07558_CenturyGothic.ttf')
}
/* menu navar*/
button:focus{
    outline: none;
}
ion-toolbar{
    --background: #EBEBEB;
}
ion-card{
    --background: #ffffff;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
}
.cuadrado_rojo_cabeza{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FF0000;
    position: absolute;
    right: 13px;
    bottom: 4px;
}
.number_nav{
    font-size: 10px;
    margin-top: 2px;
    color: #fff;
}
.icon_tamaño{
    font-size: 20px;
    
}
#icono_left{
    padding-right: 10px;
}
#img_top{
    margin-top: 4px;
}
.img_redonda_header{
    --border-radius: 50%;
}
/* fon del menu*/
.padding_todos{
    padding-left: 20px;
    padding-right: 20px;
}
.titutlo_subtitulo{
    color: #898989;
    font-family: Century Gothic;
    font-weight: 900;
    font-size: 20px;
    margin-top: 5px;
}
#btn_add{
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 22px;
}
.input_select{
    --background: #e7e7e7;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 15px;
    --padding-end: 15px;
    --placeholder-color: #000000;
    font-weight: 500;
}
ion-select{
    background-color: #e7e7e7;
    --placeholder-color: #000000;
    font-weight: 500;
    border-radius: 3px;
}
.absulte_left{
    position: absolute;
    left: 0;
    z-index: 9999;
    --border-radius:50%;
    --size: 60px;
    top: 10px;
}
.card_clientes{
    margin-top: 0px;
    width: 100%;
    margin-right: 0;
    margin-left: 28px;
    padding-left: 35px;
    padding-top: 2px;
    padding-bottom: 4spx;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-bottom: 3px;
}
.titulo_card{
    font-family: Century Gothic;
    color: #151515;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0px;
}
.subtitulo_card{
    font-family: Century Gothic;
    color: #888888;
    margin-top: 0px;
    font-size: 13px;
    font-weight: 700;
}