@font-face{
    font-family: Century Gothic;
    src : url('/assets/fonts/07558_CenturyGothic.ttf')
}
/* menu navar*/
button:focus{
    outline: none;
}
ion-toolbar{
    --background: #EBEBEB;
}
ion-card{
    --background: #ffffff;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
}
.cuadrado_rojo_cabeza{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FF0000;
    position: absolute;
    right: 13px;
    bottom: 4px;
}
.number_nav{
    font-size: 10px;
    margin-top: 2px;
    color: #fff;
}
.icon_tamaño{
    font-size: 20px;
    
}
#icono_left{
    padding-right: 10px;
}
#img_top{
    margin-top: 4px;
}
.img_redonda_header{
    --border-radius: 50%;
}
/* fon del menu*/

.padding_todos{
    padding-left: 20px;
    padding-right: 20px;
}
.titulos_subtitulos_todos{
    font-size: 1rem;
    font-weight: 400;
    color: #151515;
    font-family: Century Gothic;
}
.img_btn{
    background-color: #ffffff;
    border-radius: 11px;
    -webkit-box-shadow: 0px 1px 6px 2px rgba(214,214,214,1);
    -moz-box-shadow: 0px 1px 6px 2px rgba(214,214,214,1);
    box-shadow: 0px 1px 6px 2px rgba(214,214,214,1);
    align-items: center;
    color: #151515;
    font-family: Century Gothic;
    width: 100%;
}
.derecha_izquierda_col{
    padding-left: 2px;
    padding-right: 2px;
}
.img_altuta_btn{
    width: 51%;
    margin-top: 14px;
}
.margin_top_bo{
    margin-top: 7px;
    margin-bottom: 14px;
}
#row_center{
    justify-content: center;
    align-items: center; 
    --background: none;
    background-image: url('/assets/img/Grupo_720.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}
#div_circulo{
    background-color: #7367F0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 10px -2px rgba(43,40,43,1);
    -moz-box-shadow: 0px 1px 10px -2px rgba(43,40,43,1);
    box-shadow: 0px 1px 10px -2px rgba(43,40,43,1);
    margin-left: 40%;
}
@media(min-width: 568px){
    #div_circulo{
        margin-left: 45%;
    }
}
@media(min-width: 640px){
    #div_circulo{
        margin-left: 46%;
    }
}
#icon_circulo{
    color: #ffffff;
    font-size: 20px;
    margin-top: 15px;
}
#subtitulo_cuadrado{
    color: #ffffff;
    font-weight: 500;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: Century Gothic;
}
#descrip_cuadrado{
    color: #DAD6FD;
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 0px;
    font-family: Century Gothic;
}
.margin_p_number{
    margin-top: 1px;
    margin-bottom: 0px;
    font-family: Century Gothic;
}
.color_89{
    color: #898989;
}
.bolder_number{
    font-weight: 900;
    font-size: 11px;
}
#mes_bol_color{
    color: #151515;
    font-weight: bolder;
    font-family: Century Gothic;
}
#mes_number{
    font-size: 10px;
}
.size_pa_pen{
    font-size: 11px;
}
@media(min-width: 360px){
    .size_pa_pen{
        font-size: 13.6px;
    } 
    .bolder_number{
        font-size: 14px;
    }
    #mes_number{
        font-size: 12px;
    }
}
ion-card{
    -webkit-box-shadow: 0px 1px 6px 2px rgba(214,214,214,1);
    -moz-box-shadow: 0px 1px 6px 2px rgba(214,214,214,1);
    box-shadow: 0px 1px 6px 2px rgba(214,214,214,1);
}
.circulo_even{
    width: 50px;
    height: 50px;
    background-color: #1C475F;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    margin-left: 2px;
}
@media(min-width: 640px){
    .circulo_even{
        margin-left: 1px;
    }
}
.img_cir_even{
    width: 104%;
}
#girar_horizontal{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg);
}
.card_event{
    margin: 0;
    border-radius: 11px;
}
.margin_bottom_0{
    margin-bottom: 0px;
}
.margin_top_1{
    margin-top: 1px;
}
.color_blanco_rojo_verde_1{
    color: #ffffff;
    font-family: Century Gothic;
    font-weight: 900;
}
.color_blanco_rojo_verde_2{
    color: #ffffff;
    font-family: Century Gothic;
    font-weight: 500;
}
.fondo_rojo_card{
    background-color: #FF0000;
}
.padding_dere_izq_event{
    padding-left: 15px;
    padding-right: 15px;
}

.btn_horizontal_puntos{
    background-color: transparent;
    font-size: 31px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 41px;
}
.btn_color_rojo_verde{
    color: #ffffff;
}
.espacio_1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.margint_botom_5{
    margin-bottom: 10px;
    padding: 0;
}
@media(min-width: 640px){
    .margint_botom_5{
        padding-left: 2px;
        padding-right: 2px;
    }
}
.fondo_blanco_card{
    background-color: #ffffff;
}
.color_plomo_blanco_1{
    color: #898989;
    font-weight: 900;
    font-family: Century Gothic;
}
.color_plomo_blanco_2{
    color: #898989;
    font-weight: 500;
    font-family: Century Gothic;
}
.btn_color_blanco{
    color: #B0B0B0;
}
.fondo_verde_card{
    background-color: #2ADB45;
}
.btn_cerde_todos{
    background-color: #6DB447;
    color: #ffffff;
    width: 100%;
    font-family: Century Gothic;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.2rem;
    border-radius: 23px;
}

/*slider*/
.img_slider{
    width: 100%;
}
.card_slider{
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 11px;
    margin-bottom: 20px;
}
.tumbnall_completo{
    width: 100%;
    height: 60px;
}
.padding_cortar_conten_card{
    padding-left: 8px;
    padding-right: 8px;
    text-align: start;
}
.subtitulo_slide{
    font-family: Century Gothic;
    color: #898989;
    font-weight: 900;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.descrip_car_slide{
    font-family: Century Gothic;
    color: #898989;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;  
    margin-top: 6px;
    margin-bottom: 10px;  

}
.btn_card_slide{
    background-color: transparent;
    color: #002581;
    width: 100%;
    font-family: Century Gothic;
    font-size: 12px;
    font-weight: 900;
}
ion-slide{
    margin-right: 10px;
}

