<ion-list class="ion-padding-end">
  <ion-item class="ion-text-center" mode="ios">
    <ion-label class="letra_color">Hecho</ion-label>
  </ion-item>

  <ion-item class="ion-text-center"  mode="ios">
    <ion-label class="letra_color">Cancelar</ion-label>
  </ion-item>

  <ion-item class="ion-text-center"  mode="ios">
    <ion-label class="letra_color">Reprogramar alerta</ion-label>
  </ion-item>

  <ion-item class="ion-text-center" lines="none"  mode="ios">
    <ion-label class="letra_color">Llamar</ion-label>
  </ion-item>
</ion-list>
